html {
    scroll-behavior: smooth;
    cursor: url(../../public/images/dog.png), auto;


  }

  body{
      font-size: 1.4em;

  }




ul{
    list-style: none;
}


*{
    color: white;
    font-family: Helvetica, sans-serif;
    line-height: 1.4;
}

body{
    background-color: rgb(34, 34, 34);
}

main{
    width: 80%;
    margin: auto;
}

p, ul{
    max-width: 40em;
}


h1{
    font-size: 3em;
    text-transform: capitalize;

}

h2{
    font-size: 2.6em;

}

h3{
    font-size: 2.4em;
    text-transform: capitalize;

}

h4{
    font-size: 2.2em;
    text-transform: capitalize;
    color: limegreen;

}

h5{

    font-size: 2em;
    text-transform: capitalize;

}

ul li{
    padding: 0.5em;
    font-style: normal;
}

ul{
    padding: 0;
    padding-block-start: 0;

-webkit-padding-start: 0;
}

a{
    text-decoration: none;
    
}

#selectie-menu ul{
    text-align: center;
    display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(1, 1fr);
grid-column-gap: 40px;
grid-row-gap: 40px;
max-width: 100%;
margin: auto;

}

#selectie-menu ul li{
    border: white 10px solid;
    border-radius: 25px;
    font-size: 2em;
    background: limegreen;
    line-height: 1.4;
    text-transform: uppercase;
    font-weight: 900;
}

#selectie-menu ul li:hover {
    border: white 10px solid;
    border-radius: 25px;
    font-size: 2em;
    background: navy;
    line-height: 1.4;
    text-transform: uppercase;
    font-weight: 900;
}

#selectie-menu ul li a:focus{
    border: white 10px solid;
    border-radius: 25px;
    font-size: 2em;
    background: navy;
    line-height: 1.4;
    text-transform: uppercase;
    font-weight: 900;
}

#selectie-menu ul li a{
color: whitesmoke;
}


.fullscreen{
    min-height: 100vh;
    margin-top: 35%;
}

.fullscreen:focus{
    border: solid limegreen 10px;
    padding: 1em;
}



h4{
    text-transform: capitalize;
}

#januari h4, #februari h4, #maart h4, #april h4, #mei h4, #juni h4, #juli h4, #augustus h4, #september h4, #oktober h4, #november h4, #december h4{
    font-size: 4em;
    text-align: center;
    border: limegreen 14px solid;
    padding: 0.5em;
}

.number{
    color: limegreen;
    display: block;
    text-transform: capitalize;
}


a{
    color: limegreen;
}

a:focus{
    font-size: xx-large;
    padding: 1em;
    border: solid 10px limegreen;
}


a:visited{
    color: limegreen;
}