html {
    scroll-behavior: smooth;
  }

ul{
    list-style: none;
}


*{
    color: white;
    font-family: Helvetica, sans-serif;
    line-height: 1.4;
}

body{
    background-color: rgb(34, 34, 34);
}

main{
    width: 80%;
    margin: auto;
}

p, ul{
    max-width: 40em;
}


h1{
    font-size: 3em;
    text-transform: capitalize;
}

h2{
    font-size: 2.6em;
    text-transform: capitalize;

}

h3{
    font-size: 2.4em;
    text-transform: capitalize;

}

h4{
    font-size: 2.2em;
    text-transform: capitalize;
    color: limegreen;

}

h5{

    font-size: 2em;
    text-transform: capitalize;

}

ul li{
    padding: 0.5em;
    font-style: normal;
}

a{
    text-decoration: none;
    
}

#selectie-menu ul{
    text-align: center;
    display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(1, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;

}

#selectie-menu ul li{
    padding: 2em;
    border: white 2px solid;
    margin: 1em;
    font-size: 2em;
    background: rgb(26, 26, 134);
    line-height: 1.4;
    text-transform: uppercase;

}


.fullscreen{
    min-height: 100vh;
    margin-top: 35%;
}


h4{
    text-transform: capitalize;
}

#januari h4, #februari h4, #maart h4, #april h4, #mei h4, #juni h4, #juli h4, #augustus h4, #september h4, #oktober h4, #november h4, #december h4{
    font-size: 4em;
    text-align: center;
}